__pycache__/
*.egg-info/
.vscode/
.png
results
results/*
exploration_data/
exploration_data_new/
output/
ram_output/
ram_test/
exploration_data_success_incremental_ram/
yolov8l-world.pt
yolov8x-world.pt
sam_l.pt
mobile_sam.pt
exploration_data_success_incremental/
exploration_data_success_incremental_gt_class/
generated_questions/
